services:
  sudokucollective.api:
    image: ${DOCKER_REGISTRY:-}sudokucollectiveapi
    build:
      context: .
      dockerfile: SudokuCollective.Api/Dockerfile
    depends_on:
      postgres_server:
        condition: service_healthy
      redis_server:
        condition: service_started
    ports:
      - 5000:80
      - 5001:443
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=https://+:443;http://+:80
      - ASPNETCORE_HTTPS_PORT=5001
      - ASPNETCORE_Kestrel__Certificates__Default__Path=/https/aspnetapp.pfx
      - ASPNETCORE_Kestrel__Certificates__Default__Password=[Your password here]
      - ConnectionStrings__DatabaseConnection=User ID=[Your value here];Password=[Your value here];Server=postgres_server;Port=5432;Database=sudokuCollectiveDB;Pooling=true;
      - ConnectionStrings__CacheConnection=redis_server:6379,DefaultDatabase=0
    volumes:
      - ${USERPROFILE}\.aspnet\https:/https:ro
    networks:
      - sudokuCollectiveNetwork
  redis_server:
    image: redis
    container_name: redis_server
    ports:
     - 6380:6379
    volumes:
      - redis_volume:/data
    networks:
      - sudokuCollectiveNetwork
  postgres_server:
    image: postgres:14.1-alpine
    container_name: postgres_server
    restart: always
    environment:
      POSTGRES_USER: [Your value here]
      POSTGRES_PASSWORD: [Your value here]
      POSTGRES_DB: sudokuCollectiveDB
    ports:
      - 5433:5432
    volumes:
      - postgres_volume:/var/lib/postgresql/data
    networks:
      - sudokuCollectiveNetwork
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U sudokucollectivedbo -d sudokuCollectiveDB"]
      interval: 5s
      timeout: 5s
      retries: 5
  pgadmin:
    image: dpage/pgadmin4:latest
    container_name: pgadmin
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: [Your value here]
      PGADMIN_DEFAULT_PASSWORD: [Your value here]
      PGADMIN_CONFIG_SERVER_MODE: 'True'
      PGADMIN_CONFIG_MASTER_PASSWORD_REQUIRED: 'False'
      PGADMIN_SERVER_JSON_FILE: /pgadmin4/servers.json
    ports:
      - 8080:80
    volumes:
      - pgadmin_volume:/var/lib/pgadmin
      - ./pgadmin-servers.json:/pgadmin4/servers.json:ro
    depends_on:
      postgres_server:
        condition: service_healthy
    networks:
      - sudokuCollectiveNetwork
volumes:
  redis_volume:
    driver: local
  postgres_volume:
    driver: local
  pgadmin_volume:
    driver: local
networks:
  sudokuCollectiveNetwork:
    driver: bridge