<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ApiResourceId>/subscriptions/05fbda9f-3c72-4d20-b38c-27af7635b3d7/resourceGroups/SudokuCollectiveResourceGroup/providers/Microsoft.ApiManagement/service/SudokuCollectiveApi/apis/SudokuCollectiveApi</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>false</UpdateApiOnPublish>
    <ResourceId>/subscriptions/05fbda9f-3c72-4d20-b38c-27af7635b3d7/resourceGroups/SudokuCollectiveResourceGroup/providers/Microsoft.Web/sites/SudokuCollective-Prod</ResourceId>
    <ResourceGroup>SudokuCollectiveResourceGroup</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://sudokucollective-prod.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>6c5be1ad-8d24-4dc2-bb7e-fdfbb1714fc5</ProjectGuid>
    <PublishUrl>https://sudokucollective-prod.scm.azurewebsites.net/</PublishUrl>
    <UserName>$SudokuCollective-Prod</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>